@use "../abstracts/" as *;

.btn {
  padding: pxToRem(15) pxToRem(36);
  text-align: center;
  text-transform: uppercase;
  border-radius: 2rem;
  border: none;
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  background-color: $primary-color;
  cursor: pointer;
  &:hover {
    background-color: $hover-button;
    transition: 0.3s ease-in-out;
  }
}
