@use "../abstracts/" as *;

.img-main {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  &:hover {
    color: $primary-color;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
  gap: 25px;

  @include tablet {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  @include mobile {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-image {
    margin: 0 auto 30px;
    width: 262px;
    height: 262px;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.188208);

    @include tablet {
      width: 160px;
      height: 160px;
      margin: 0 auto 23px;
    }

    @include mobile {
      width: 120px;
      height: 120px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 104%;
      height: 104%;
      top: -2%;
      left: -2%;
      border-radius: 50%;
      border: 2px solid #e6e6e6;
    }

    &__primary {
      height: 100%;
      border-radius: 50%;
    }

    &__eye {
      width: 40px;
      height: 22px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;

      &--small {
        width: 22.32px;
        height: 13px;
        margin-right: 6px;
      }
    }

    &__detail {
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      align-items: center;
      display: none;

      @include tablet {
        bottom: 30px;
      }

      @include mobile {
        bottom: 15px;
      }
    }

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgba(209, 180, 113, 0.233);
      display: none;
    }

    &__view {
      color: $background-color;
    }
  }

  &__img {
    position: relative;
    background: linear-gradient(
      180deg,
      rgba(60, 60, 60, 0.198171) 0%,
      rgba(60, 60, 60, 0.704257) 100%
    );
    border-radius: inherit;
    min-height: 83px;

    img {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }

    figcaption {
      position: absolute;
      text-align: center;
      width: auto;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $background-color;
    }
  }

  &__price {
    font-size: pxToRem(64);
    padding-top: 10px;
    position: relative;

    @include tablet {
      font-size: pxToRem(36);
    }

    &::before {
      position: absolute;
      content: "$";
      font-size: pxToRem(24);
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-110%, -50%);

      @include tablet {
        font-size: pxToRem(11);
      }
    }
  }

  &__content {
    text-align: center;
    line-height: 1.5;
    max-width: 260px;
    margin: 0 auto;

    h3 {
      text-transform: uppercase;
    }
  }

  &__btn {
    border: 2px solid $text-color;
    margin: 32px auto 0;
    color: $text-color;
    width: 200px;

    @include tablet {
      width: auto;
      margin: 20px auto 0;
    }
  }

  &:hover {
    .card-image {
      .card-image__eye {
        display: block;
      }
      .card-image__bg {
        display: block;
      }
      .card-image__detail {
        display: flex;
      }
    }
    .card__btn {
      border: 2px solid $primary-color;
      background-color: $primary-color;
    }
  }
}
