@use "../abstracts/" as *;
@forward "button";
@forward "title";
@forward "icon";
@forward "subs";
@forward "hr";
@forward "description";
@forward "arrow-container";
@forward "introduce_section";
.container {
  max-width: 1313px;
  margin: 0 auto;

  @include tablet {
    max-width: 768px;
  }

  @include mobile {
    padding: 0px 25px;
  }
}
