@use "../abstracts/" as *;
@forward "form";
@forward "button";
@forward "card";
@forward "title";
@forward "icon";
@forward "subs";
@forward "hr";
@forward "description";
@forward "arrow-container";
.container {
  max-width: 1313px;
  margin: 0 auto;

  @include tablet {
    max-width: 768px;
  }

  @include mobile {
    padding: 0 26px;
    max-width: inherit;
  }
}
