<section class="about">
    <div class="about__left-hero">
      <p class="about__left-hero--subs subs">Your Trusted Cat Retreat</p>
      <h2 class="about__left-hero--title title">About NekoInn</h2>
      <p class="about__left-hero--description description">
        NekoInn is more than a cat boarding facility; it's a home away from
        home for your furry family members. Nestled in serene surroundings,
        our inn offers a tranquil retreat for cats of all shapes, sizes, and
        personalities. With a team of dedicated caregivers passionate about
        feline welfare, we ensure every guest receives love, attention, and
        comfort. Rest easy knowing your cat is in caring hands at NekoInn.
      </p>
      <button class="about__left-hero--btn btn">BOOK NOW</button>
    </div>
    <div class="about__right-hero">
      <figure>
        <img
          class="about__right-hero--cat"
          src="assets/icons/cat-vector.svg"
          alt="cat-vector"
        />
      </figure>
    </div>
  </section>