<section class="booking">
    <div class="booking-header">
      <p class="booking-header__subs subs">Secure Your Cat's Stay Today</p>
      <h2 class="booking-header__title title">Book Now</h2>
      <div class="booking-header__description-hero">
        <p class="booking-header__description description">
          Ready to reserve your cat's spot at NekoInn? Our easy-to-use booking
          system makes it simple to schedule your cat's stay with us. Just
          select your desired dates, choose from our range of accommodations
          and services, and complete your reservation in a few easy steps.
        </p>
      </div>
    </div>
    <div class="booking-body">
      <div class="booking-body__row">
        <div class="booking-body__form-hero">
          <p class="booking-body__form-hero--legend subs">FULL NAME</p>
          <input
            class="booking-body__form-hero--input"
            type="text"
            placeholder="Eg. Jane Doe"
          />
        </div>
        <div class="booking-body__form-hero">
          <p class="booking-body__form-hero--legend subs">EMAIL</p>
          <input
            class="booking-body__form-hero--input"
            type="text"
            placeholder="Eg. janedoe@gmail.com"
          />
        </div>
      </div>
      <div class="booking-body__row">
        <div class="booking-body__form-hero">
          <p class="booking-body__form-hero--legend subs">PHONE NUMBER</p>
          <input
            class="booking-body__form-hero--input"
            type="text"
            placeholder="100-616-6060"
          />
        </div>
        <div class="booking-body__form-hero">
          <p class="booking-body__form-hero--legend subs">CAT NAME</p>
          <input
            class="booking-body__form-hero--input"
            type="text"
            placeholder="Eg. Timothy"
          />
        </div>
      </div>
      <div class="booking-body__row">
        <div class="booking-body__form-hero">
          <p class="booking-body__form-hero--legend subs">PICK A DATE</p>
          <input
            class="booking-body__form-hero--input"
            type="text"
            placeholder="July 16th, 2024 - 9:26 PM"
          />
        </div>
        <div class="booking-body__form-hero--calender-hero">
          <figure>
            <img
              src="assets/icons/calendar-edit.svg"
              alt="calendar-edit"
              class="booking-body__form-hero--calender"
            />
          </figure>
        </div>
      </div>
      <div class="booking-body__row">
        <div class="booking-body__form-hero">
          <p class="booking-body__form-hero--legend subs">How many pets?</p>
          <input
            class="booking-body__form-hero--input"
            type="text"
            placeholder="6"
          />
        </div>
      </div>
      <div class="booking-body__row">
        <div class="booking-body__form-hero">
          <p class="booking-body__form-hero--legend subs">purr plan</p>
          <input
            class="booking-body__form-hero--input"
            type="text"
            placeholder="Purr Royal"
          />
        </div>
      </div>
      <div class="booking-body__action">
        <button class="booking-body__booking-btn btn">BOOK NOW</button>
      </div>
    </div>
  </section>