<section class="carousel">
    <div class="carousel__hero">
      <figure>
        <img
          class="carousel__hero--picture"
          src="assets/images/cat-carousel-1.png"
          alt="cat-carousel-1"
        />
      </figure>

      <div class="carousel__hero--icon">
        <img src="assets/icons/home.svg" alt="home" />
      </div>
    </div>
    <div class="carousel__hero">
      <figure>
        <img
          class="carousel__hero--picture"
          src="assets/images/cat-carousel-2.png"
          alt="cat-carousel-1"
        />
      </figure>

      <div class="carousel__hero--icon">
        <img src="assets/icons/home.svg" alt="home" />
      </div>
    </div>
    <div class="carousel__hero">
      <figure>
        <img
          class="carousel__hero--picture"
          src="assets/images/cat-carousel-3.png"
          alt="cat-carousel-1"
        />
      </figure>

      <div class="carousel__hero--icon">
        <img src="assets/icons/home.svg" alt="home" />
      </div>
    </div>
    <div class="carousel__hero">
      <figure>
        <img
          class="carousel__hero--picture"
          src="assets/images/cat-carousel-4.png"
          alt="cat-carousel-1"
        />
      </figure>

      <div class="carousel__hero--icon">
        <img src="assets/icons/home.svg" alt="home" />
      </div>
    </div>
    <div class="carousel__hero">
      <figure>
        <img
          class="carousel__hero--picture"
          src="assets/images/cat-carousel-5.png"
          alt="cat-carousel-1"
        />
      </figure>

      <div class="carousel__hero--icon">
        <img src="assets/icons/home.svg" alt="home" />
      </div>
    </div>
    <div class="carousel__hero">
      <figure>
        <img
          class="carousel__hero--picture"
          src="assets/images/cat-carousel-6.png"
          alt="cat-carousel-1"
        />
      </figure>

      <div class="carousel__hero--icon">
        <img src="assets/icons/home.svg" alt="home" />
      </div>
    </div>
  </section>