<section class="feedback">
    <div class="feedback__header">
      <p class="feedback__subs subs">
        Pawsitive Reviews from Happy Customers
      </p>
      <h2 class="feedback__title title">They Celebrate NekoInn</h2>
      <div class="feedback__description-hero">
        <p class="feedback__description description">
          Discover what our clients have to say about their experiences at
          NekoInn. Their testimonials speak volumes about the exceptional care
          and service we provide for their beloved feline companions.
        </p>
      </div>
    </div>
    <div class="feedback__body">
      <div class="feedback__arrow arrow-container">
        <figure>
          <img src="assets/icons/left-arrow.svg" alt="left-arrow" />
        </figure>
      </div>

      <div class="feedback__arrow arrow-container">
        <figure>
          <img src="assets/icons/right-arrow.svg" alt="right-arrow" />
        </figure>
      </div>

      <div class="feedback__hero">
        <figure>
          <img
            class="feedback__hero--icon"
            src="assets/icons/quote.svg"
            alt="left-arrow"
          />
        </figure>
        <p class="feedback__hero--text">
          Leaving my cat at NekoInn was the best decision I ever made. The
          staff went above and beyond to ensure that my furry friend felt
          loved and cared for. I received regular updates and photos, which
          put my mind at ease during my time away. Thank you, NekoInn, for
          providing such a wonderful home away from home for my cat!
        </p>
        <div class="feedback__hero--person">
          <figure>
            <img
              class="feedback__hero--avt"
              src="assets/images/avt-1.png"
              alt="avt-1"
            />
          </figure>
          <p class="feedback__hero--name">Emily S</p>
        </div>
      </div>
      <div class="feedback__hero">
        <figure>
          <img
            class="feedback__hero--icon"
            src="assets/icons/quote.svg"
            alt="left-arrow"
          />
        </figure>
        <p class="feedback__hero--text">
          I cannot recommend NekoInn enough! From the moment I walked in, I
          knew my cat would be in good hands. The facilities are clean and
          spacious, and the staff is incredibly friendly and attentive. My cat
          came back home relaxed and happy, and I will definitely be using
          NekoInn for all my future boarding needs.
        </p>
        <div class="feedback__hero--person">
          <figure>
            <img
              class="feedback__hero--avt"
              src=".../../assets/images/avt-2.png"
              alt="avt-1"
            />
          </figure>
          <p class="feedback__hero--name">Mark T</p>
        </div>
      </div>
      <div class="feedback__hero">
        <figure>
          <img
            class="feedback__hero--icon"
            src="assets/icons/quote.svg"
            alt="left-arrow"
          />
        </figure>
        <p class="feedback__hero--text">
          NekoInn made the experience so much easier. Their personalized care
          and attention to detail set them apart from other boarding
          facilities. I loved receiving updates and photos of my cat enjoying
          her stay. I have complete peace of mind knowing she's in the care of
          such dedicated professionals. Thank you, NekoInn!
        </p>
        <div class="feedback__hero--person">
          <figure>
            <img
              class="feedback__hero--avt"
              src=".../../assets/images/avt-3.png"
              alt="avt-1"
            />
          </figure>
          <p class="feedback__hero--name">Emily S</p>
        </div>
      </div>
    </div>
  </section>