<section class="prices">
  
  <include
    src="components/introduce_section.html"
    locals='{
      "subs" : "Transparent Rates for your purry companion",
      "title" : "Pricing",
      "description" : "In our Pricing Section, transparency meets affordability. At NekoInn, we believe in straightforward pricing, ensuring you have peace of mind knowing exactly what to expect."
    }'
  ></include>
  <!-- PRICES BODY -->

  <div class="prices__body-hero">
    <!-- FIRST HERO -->
    <each loop="item in {{list}}">
      <div class="element-hero">
        <div style="width: 85%; margin: auto;"><div class="element-hero__header">
          <p class="element-hero__header--text">{{item.title}}</p>
          <figure>
            <img
              class="element-hero__header--icon"
              src="{{item.crownImg || 'assets/icons/crown-2.svg'}}"
              alt="crown-2 "
            />
          </figure>
        </div>
        <div class="element-hero__prices">
          <b class="element-hero__prices--money">{{item.price}}</b>
          <p class="element-hero__prices--time">{{item.time}}</p>
        </div>
        <ul class="element-hero__list">
          <each loop="item2 in {{item.items}}">
            <li class="element-hero__list--item">
              <figure>
                <img
                  src="{{ item.tickImg || 'assets/icons/tick-outline.svg'}}"
                  alt="tick-outline"
                />
              </figure>
              <p>{{item2}}</p>
            </li>
          </each>
        </ul>
        <div class="element-hero__action">
          <button class="element-hero__action--btn btn">BOOK NOW</button>
        </div></div>
        
      </div>
    </each>
    
</section>
