<section class="room">
  <div class="room-left">
    <figure>
      <img src="assets/images/cat-lying.png" alt="cat-lying" />
    </figure>
  </div>
  <div class="room-right">
    <p class="room-right__subs subs">
      perfectly Tailored for Your Feline Friend
    </p>
    <h2 class="room-right__title title">Our Rooms</h2>
    <div class="feature-one">
      <img
        class="feature-icon"
        src="assets/icons/arrow-up.svg"
        alt="arrow-up"
      />
      <div class="feature-one__hero-content">
        <p class="feature-one__title feature-title">
          Cozy Corners: Where Comfort Meets Contentment
        </p>
        <p class="description">
          NekoInn is more than a cat boarding facility; it's a home away from
          home for your furry family members. Nestled in serene surroundings,
          our inn offers a tranquil retreat for cats of all shapes, sizes, and
          personalities. With a team of dedicated caregivers passionate about
          feline welfare, we ensure every guest receives love, attention, and
          comfort. Rest easy knowing your cat is in caring hands at NekoInn.
        </p>
      </div>
    </div>
    <hr />
    <div class="feature-two">
      <img
        class="feature-icon"
        src="assets/icons/arrow-down.svg"
        alt="arrow-down"
      />
      <p class="feature-title">
        Palatial Purrfections: Opulence for Discerning Cats
      </p>
    </div>
    <hr />
    <div class="feature-three">
      <img
        class="feature-icon"
        src="assets/icons/arrow-down.svg"
        alt="arrow-down"
      />
      <p class="feature-title">
        Tailored Tranquility: Personalized Care for Every Cat
      </p>
    </div>
  </div>
</section>
