<section class="service">
  <div class="service__hero-first">
    <p class="service__hero-first--subs subs">
      Dedicated Care for Every Purrsonality
    </p>
    <h2 class="service__hero-first--title title">Purr Care</h2>
    <p class="service__hero-first--description description">
      Experience top-notch feline care with our Purr Care services. From
      grooming to playtime, we provide personalized attention to ensure your
      cat's happiness and well-being at NekoInn.
    </p>
    <button class="service__hero-first--btn btn">
      <img src="assets/icons/long-arrow-right.svg" alt="long-arrow-right" />
      <p>BOOK NOW</p>
    </button>
  </div>
  <each loop="item, index in {{list}}">
    <div class="service__hero">
      <figure>
        <img src="{{item.imageUrl}}" class="service__hero--img" alt="img" />
      </figure>

      <p class="service__hero--title">{{item.title}}</p>
      <p class="service__hero--description">{{item.description}}</p>
    </div>

    <if condition="{{index}} < {{list.length}} - 1">
      <hr />
    </if>
  </each>
</section>
