<section class="header-contact">
  <div class="header-contact__address">
    <figure>
      <img
        src="assets/icons/location.svg"
        alt="location"
        class="header-contact__address--icon"
      />
    </figure>

    <p class="header-contact__address--text">
      123 Meow Avenue. <br />
      Kittyville, CA 90210 United States
    </p>
  </div>
  <div class="header-contact__type">
    <div class="header-contact__type--phone">
      <figure>
        <img src="assets/icons/phone.svg" alt="phone-icon" />
      </figure>
      <p>(555) 555-5555</p>
    </div>
    <div class="header-contact__type--email">
      <figure>
        <img src="assets/icons/mail.svg" alt="mail-icon" />
      </figure>
      <p>info@neko-inn.com</p>
    </div>
  </div>
</section>
