<section class="navbar-hero">
  <figure>
    <img class="navbar-hero__logo" src="assets/icons/logo.svg" alt="my-logo" />
  </figure>

  <div class="navbar-hero__menu">
    <nav class="navbar-hero__menu-list">
      <each loop="item in {{list}}">
        <li class="navbar-hero__menu-item">
          <a href="#" class="navbar-hero__menu-link">{{item}}</a>
        </li>
      </each>
    </nav>
  </div>
  <div class="navbar-hero__action">
    <div class="navbar-hero__toggle">
      <label for="modeToggle" class="navbar-hero__toggle-label">
        <figure class="navbar-hero__toggle-figure">
          <img
            src="assets/icons/moon.svg"
            alt="Night Mode"
            class="navbar-hero__toggle-icon moon-icon"
          />
        </figure>
        <figure class="navbar-hero__toggle-figure">
          <img
            src="assets/icons/shape.svg"
            alt="Light Mode"
            class="navbar-hero__toggle-icon sun-icon"
          />
        </figure>
        <div class="navbar-hero__toggle-ball"></div>
      </label>
    </div>
    <button class="btn navbar-hero__book-now">
      <p>BOOK NOW</p>
    </button>
  </div>
  <img src="assets/icons/menu.svg" alt="menu" class="navbar-hero__menu-icon" />
</section>
