html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(65.91deg, #fffefe 2.93%, #f7dde9 100%);
}
.container {
  margin: 0 80px;
}
