@use "functions" as *;

// Font family
$primary-font: Poppins;

// Breakpoints

$mobile: 480px;
$tablet: 768px;
$landscape: 1024px;

// Colors
$primary-color: #c75e90;
$background-color: #fbf6f8;
$text-color: #232323;

$subtitle-color: #696969;
$footer-bg-color: #161616;
$secondary-color: #8e345f;
$border-form-color:  #b7b7b7;
$border-hr-color:  #80808021;
$white:  #ffffff;
$hover-button: #9e3568;


    
$min-padding: 0.8rem;
$max-padding: 2rem;
$prefered-value: 5vw;
$base-padding: 24px;