@use "functions" as *;

// Font family
$primary-font: Poppins;

// Breakpoints

$medium: 768px;
$extra-lager: 1200px;

$mobile: calc($medium - 1px);
$tablet: calc($extra-lager - 1px);

// Colors
$primary-color: #c75e90;
$background-color: #fbf6f8;
$text-color: #232323;

$subtitle-color: #696969;
$footer-bg-color: #161616;
$secondary-color: #8e345f;
$subtitle-color : #181818