@use "functions" as *;

// Font family
$primary-font: Poppins;

// Breakpoints

$phone: 480px;
$tablet: 768px;
$laptop: 1280px;

$mobile: calc($phone - 1px);
$tablet: calc($tablet - 1px);
$laptop: calc($laptop - 1px);

// Colors
$primary-color: #c75e90;
$background-color: #fbf6f8;
$text-color: #232323;

$subtitle-color: #696969;
$footer-bg-color: #161616;
$secondary-color: #8e345f;
$border-form-color:  #b7b7b7;
$border-hr-color:  #80808021;