<div class="footer-top">
  <div class="footer-top-left">
    <figure>
      <img src="assets/icons/logo-footer.svg" alt="logo-footer" />
    </figure>
    <div class="footer-top-left__text">
      <p>stay in touch</p>
      <h1>Newsletter</h1>
    </div>
  </div>
  <div class="footer-top-right">
    <div class="footer-top-right-hero">
      <div class="footer-top-right-hero-input">
        <p>EMAIL</p>
        <input
          type="email"
          class="top-right__input"
          placeholder="Eg. janedoe@gmail.com"
        />
      </div>
      <img
        src="assets/icons/mail.svg"
        alt="email"
        class="top-right__img icon"
      />
    </div>
  </div>
</div>
