@use "../abstracts/" as *;
.header {
  background: linear-gradient(65.91deg, #fffefe 2.93%, #f7dde9 100%);
  z-index: -2;
  &__container {
    position: relative;
  }
  &__top {
    @include flex($justify: space-between);
    padding-top: 40px;
    margin-bottom: 129px;
    @include mobile {
      padding-top: 34px;
      margin-bottom: 100px;
    }
  }
  &__menu {
    @include flex();
    @include mobile {
      display: none;
    }
  }
  &__menu-list {
    @include flex();
    list-style: none;
  }
  &__menu-link {
    text-decoration: none;
    margin: auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
  }
  &__menu-item {
    width: 120px;
    @include flex($justify: center, $align: center);
  }
  &__action {
    @include flex($justify: center, $align: center);
    @include mobile {
      display: none;
    }
  }
  &__book-now {
    width: 165px;
    height: 45px;
  }
  &__menu-icon {
    display: none;
    @include mobile {
      display: block;
    }
  }
  /* Toggle Container */
  &__toggle {
    position: relative;
    @include flex($justify: space-between);
    width: 109px;
    height: 45px;
    border-radius: 220px;
    margin: 0 10px;
    background-color: rgb(200, 103, 103);
  }

  /* Toggle Background */
  &__toggle-label {
    @include flex($align: center, $justify: space-around);
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 250px;
    padding: 5px 2px 0px 2px;
    cursor: pointer;
  }
  &__toggle-figure {
    z-index: 3;
  }

  /* Toggle Ball */
  &__toggle-ball {
    position: absolute;
    top: 50%;
    left: calc(100% - 60px);
    width: 55%;
    height: 100%;
    background: $primary-color;
    border-radius: 200px;
    transform: translateY(-50%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Icons */
  &__toggle-icon {
    width: 24px;
    height: 24px;
    z-index: 3;
    margin: auto;
  }

  // Header bottom
  &__bottom {
    padding-bottom: 168px;
    @include mobile {
      padding-bottom: 86px;
    }
  }
  &__container-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include mobile {
      grid-template-columns: 1fr;
    }
  }
  &__left-side {
    width: 100%;
    height: fit-content;
    padding-right: 100px;
    position: relative;
    @include flex($direction: column);
    @include mobile {
      padding-right: 0px;
      text-align: center;
    }

    &--title {
      margin: 28px 0px;
      @include mobile {
        margin: 24px 0px;
      }
    }

    &--btn {
      width: 203px;
      height: 45px;
      margin-top: 40px;
      margin-bottom: 80px;
      @include mobile {
        margin-top: 40px auto 76px auto;
        width: auto;
        margin-bottom: 76px;
      }
    }
    &--text {
      color: white;
    }
    &--text:first-child {
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 36%;
    }
    &--text:nth-child(2) {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0%;
    }
    &--watch {
      padding: pxToRem(20);
      width: 337px;
      height: 122px;
      border-radius: 30px;
      position: relative;
      background-image: url("../assets/images/sleeping_cat.png");
      @include flex($align: start, $justify: end, $direction: column);
      @include mobile {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 65px;
      }

      button {
        position: absolute;
        right: -5%;
        top: 37%;
        @include flex($align: center, $justify: center);
        width: 43px;
        height: 43px;
        border-radius: 100px;
        background-color: $primary-color;
        border: none;
      }
    }
  }
  // right side
  &__right-side {
    width: 100%;
    z-index: 0;
    @include mobile {
      padding-left: 20px;
    }
  }
  &__right-side-container {
    width: 100%;
    height: 557px;
    // height: auto;
    position: relative;
    @include bg-img($bg: "../assets/images/header-right-cat-bg.png");
    background-size: contain;
    @include mobile {
      background-image: url("../assets/images/mobile/cat-bg.png");
      height: 365.87px;
    }
    &--img {
      position: absolute;
      @include mobile {
        width: 66px;
        height: 66px;
      }
    }
    &--img4 {
      left: -3%;
      top: 20%;
      @include mobile {
        left: -8%;
        bottom: 20%;
      }
    }
    &--img2 {
      left: 15%;
      bottom: -10%;
      @include mobile {
        left: 15%;
        bottom: 9%;
      }
    }
    &--img3 {
      left: -3%;
      top: 50%;
      @include mobile {
        left: -5%;
        top: 50%;
      }
    }
    &--img1 {
      left: 50%;
      bottom: -10%;
      @include mobile {
        left: 48%;
        bottom: -5%;
      }
    }

    &--vector-top-left {
      position: absolute;
      width: 288px;
      height: 288px;
      top: -10%;
      left: -10%;
      z-index: -1;
      @include mobile {
        top: 0%;
        left: -12%;
        width: 189px;
        height: 189px;
      }
    }
    &--vector-bottom-right {
      width: 288px;
      height: 288px;
      position: absolute;
      bottom: -12%;
      right: -5%;
      transform: rotate(90deg);
      z-index: -1;
      @include mobile {
        bottom: -10%;
        right: -5%;
        width: 189px;
        height: 189px;
      }
    }
  }
  &-contact {
    @include flex();
    position: absolute;
    bottom: -8%;
    height: 168px;
    width: 100%;
    background-color: #232323;
    border-radius: 30px 30px 25px 25px;
    @include mobile {
      height: 471px;
      position: relative;
      flex-direction: column;
      border-radius: 50px;
    }
    &__address {
      height: 100%;
      flex: 1;
      padding: 23px;
      @include flex($align: center);

      &--icon {
        width: 78px;
        height: 78px;
        border-radius: 100px;
        padding: 13px;
        margin-right: 12px;
        background-color: #8e345f;
      }
      &--text {
        color: white;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0%;
      }
    }
    &__type {
      @include flex();
      flex: 2;
      height: 100%;
      padding: 38px;
      background: #8e345f;
      border-radius: 222px 79px 79px 222px;
      @include mobile {
        border-radius: 60px 60px 50px 50px;
        flex-direction: column;
        justify-content: space-around;
      }
      &--email {
        @include flex($align: center);
        img {
          width: 78px;
          height: 78px;
          border-radius: 100px;
          padding: 13px;
          margin-right: 12px;
          background-color: $primary-color;
        }
        p {
          color: white;
          font-weight: 700;
          font-size: 20px;
          line-height: 30px;
          letter-spacing: 0%;
        }
      }
      &--phone {
        @include flex($align: center);
        margin-right: 95px;

        img {
          width: 78px;
          height: 78px;
          border-radius: 100px;
          padding: 13px;
          margin-right: 12px;
          background-color: $primary-color;
        }
        p {
          color: white;
          font-weight: 700;
          font-size: 20px;
          line-height: 30px;
          letter-spacing: 0%;
        }
      }
    }
  }
}
