<footer class="footer">
  <div class="container">
    <include src="components/footer/footer_top.html"></include>
    <hr />
    <div class="footer-bottom">
      <include
        src="components/footer/footer_bottom_left.html"
        locals='{
          "list":[
            {"iconPath": "assets/icons/location.svg", "header": "Pay Us A Visit", "subtitle": "123 Meow Avenue Kittyville, CA 90210 United States"},
            {"iconPath": "assets/icons/phone.svg", "header": "Give Us A Call", "subtitle": "(555) 555-5555"},
            {"iconPath": "assets/icons/mail.svg", "header": "Send Us A Message", "subtitle": "info@neko-inn.com"}
          ]
        }'
      ></include>
      <include
        src="components/footer/footer_bottom_right.html"
        locals='{
          "plan": {
            "header" : "NekoInn Plans",
            "list" : ["Purr Ducal", "Purr Royal", "Purr Imperial"]
          },
          "socialize": {
            "header" : "Socialize With NekoInn",
            "list" : ["assets/icons/facebook.svg","assets/icons/X-Twitter.svg","assets/icons/linkedin.svg", "assets/icons/youtube.svg", "assets/icons/instagram.svg"]
          },
          "copyRight" : "2024 © COPYRIGHT - NEKOINN A 5 STAR PURR HOTEL"

        }'
      ></include>
    </div>
  </div>
</footer>
