<body>
  <div class="container">
    <!-- ABOUT SECTION -->
    <div class="about">
      <div class="left-hero">
        <p class="left-hero__subs subs">Your Trusted Cat Retreat</p>
        <h2 class="left-hero__title">About NekoInn</h2>
        <p class="left-hero__description">
          NekoInn is more than a cat boarding facility; it's a home away from
          home for your furry family members. Nestled in serene surroundings,
          our inn offers a tranquil retreat for cats of all shapes, sizes, and
          personalities. With a team of dedicated caregivers passionate about
          feline welfare, we ensure every guest receives love, attention, and
          comfort. Rest easy knowing your cat is in caring hands at NekoInn.
        </p>
        <button class="left-hero__btn btn">BOOK NOW</button>
      </div>
      <div class="right-hero">
        <img
          class="right-hero__cat"
          src="../assets/icons/cat-vector.svg"
          alt="cat-vector"
        />
      </div>
    </div>
  </div>
</body>
