<body>
  <div class="container">
    <!-- ABOUT SECTION -->
    <div class="about">
      <div class="about__left-hero">
        <p class="about__left-hero--subs subs">Your Trusted Cat Retreat</p>
        <h2 class="about__left-hero--title title">About NekoInn</h2>
        <p class="about__left-hero--description description">
          NekoInn is more than a cat boarding facility; it's a home away from
          home for your furry family members. Nestled in serene surroundings,
          our inn offers a tranquil retreat for cats of all shapes, sizes, and
          personalities. With a team of dedicated caregivers passionate about
          feline welfare, we ensure every guest receives love, attention, and
          comfort. Rest easy knowing your cat is in caring hands at NekoInn.
        </p>
        <button class="about__left-hero--btn btn">BOOK NOW</button>
      </div>
      <div class="about__right-hero">
        <figure>
          <img
            class="about__right-hero--cat"
            src="assets/icons/cat-vector.svg"
            alt="cat-vector"
          />
        </figure>
      </div>
    </div>
    <!-- ROOM SECTION -->
    <div class="room">
      <div class="room-left">
        <figure>
          <img src="assets/images/cat-lying.png" alt="cat-lying" />
        </figure>
      </div>
      <div class="room-right">
        <p class="room-right__subs subs">
          perfectly Tailored for Your Feline Friend
        </p>
        <h2 class="room-right__title title">Our Rooms</h2>
        <div class="feature-one">
          <img
            class="feature-icon"
            src="assets/icons/arrow-up.svg"
            alt="arrow-up"
          />
          <div class="feature-one__hero-content">
            <p class="feature-one__title feature-title">
              Cozy Corners: Where Comfort Meets Contentment
            </p>
            <p class="description">
              NekoInn is more than a cat boarding facility; it's a home away
              from home for your furry family members. Nestled in serene
              surroundings, our inn offers a tranquil retreat for cats of all
              shapes, sizes, and personalities. With a team of dedicated
              caregivers passionate about feline welfare, we ensure every guest
              receives love, attention, and comfort. Rest easy knowing your cat
              is in caring hands at NekoInn.
            </p>
          </div>
        </div>
        <hr />
        <div class="feature-two">
          <img
            class="feature-icon"
            src="assets/icons/arrow-down.svg"
            alt="arrow-down"
          />
          <p class="feature-title">
            Palatial Purrfections: Opulence for Discerning Cats
          </p>
        </div>
        <hr />
        <div class="feature-three">
          <img
            class="feature-icon"
            src="assets/icons/arrow-down.svg"
            alt="arrow-down"
          />
          <p class="feature-title">
            Tailored Tranquility: Personalized Care for Every Cat
          </p>
        </div>
      </div>
    </div>
    <!-- SERVICE SECTION -->
    <div class="service">
      <div class="service__hero-first">
        <p class="service__hero-first--subs subs">
          Dedicated Care for Every Purrsonality
        </p>
        <h2 class="service__hero-first--title title">Purr Care</h2>
        <p class="service__hero-first--description description">
          Experience top-notch feline care with our Purr Care services. From
          grooming to playtime, we provide personalized attention to ensure your
          cat's happiness and well-being at NekoInn.
        </p>
        <button class="service__hero-first--btn btn">
          <img
            src="assets/icons/long-arrow-right.svg"
            alt="long-arrow-right"
          />
          <p>BOOK NOW</p>
        </button>
      </div>
      <div class="service__hero">
        <figure>
          <img
            src="assets/images/service-cat-3.png"
            class="service__hero--img"
            alt="img"
          />
        </figure>

        <p class="service__hero--title">Grooming Spa:</p>
        <p class="service__hero--description">
          Indulge your cat in a pampering experience at our Grooming Spa. Our
          skilled groomers provide gentle care and attention, from luxurious
          baths to expert grooming sessions, leaving your cat looking and
          feeling their best.
        </p>
      </div>
      <hr />
      <div class="service__hero">
        <figure>
          <img
            src="assets/images/service-cat-2.png"
            class="service__hero--img"
            alt="img"
          />
        </figure>

        <p class="service__hero--title">Grooming Spa:</p>
        <p class="service__hero--description">
          Indulge your cat in a pampering experience at our Grooming Spa. Our
          skilled groomers provide gentle care and attention, from luxurious
          baths to expert grooming sessions, leaving your cat looking and
          feeling their best.
        </p>
      </div>
      <hr />
      <div class="service__hero">
        <figure>
          <img
            src="assets/images/service-cat-1.png"
            class="service__hero--img"
            alt="img"
          />
        </figure>

        <p class="service__hero--title">Grooming Spa:</p>
        <p class="service__hero--description">
          Indulge your cat in a pampering experience at our Grooming Spa. Our
          skilled groomers provide gentle care and attention, from luxurious
          baths to expert grooming sessions, leaving your cat looking and
          feeling their best.
        </p>
      </div>
    </div>
    <!-- CAROUSEL SECTION -->
    <div class="carousel">
      <div class="carousel__hero">
        <figure>
          <img
            class="carousel__hero--picture"
            src="assets/images/cat-carousel-1.png"
            alt="cat-carousel-1"
          />
        </figure>

        <div class="carousel__hero--icon">
          <img src="assets/icons/home.svg" alt="home" />
        </div>
      </div>
      <div class="carousel__hero">
        <figure>
          <img
            class="carousel__hero--picture"
            src="assets/images/cat-carousel-2.png"
            alt="cat-carousel-1"
          />
        </figure>

        <div class="carousel__hero--icon">
          <img src="assets/icons/home.svg" alt="home" />
        </div>
      </div>
      <div class="carousel__hero">
        <figure>
          <img
            class="carousel__hero--picture"
            src="assets/images/cat-carousel-3.png"
            alt="cat-carousel-1"
          />
        </figure>

        <div class="carousel__hero--icon">
          <img src="assets/icons/home.svg" alt="home" />
        </div>
      </div>
      <div class="carousel__hero">
        <figure>
          <img
            class="carousel__hero--picture"
            src="assets/images/cat-carousel-4.png"
            alt="cat-carousel-1"
          />
        </figure>

        <div class="carousel__hero--icon">
          <img src="assets/icons/home.svg" alt="home" />
        </div>
      </div>
      <div class="carousel__hero">
        <figure>
          <img
            class="carousel__hero--picture"
            src="assets/images/cat-carousel-5.png"
            alt="cat-carousel-1"
          />
        </figure>

        <div class="carousel__hero--icon">
          <img src="assets/icons/home.svg" alt="home" />
        </div>
      </div>
      <div class="carousel__hero">
        <figure>
          <img
            class="carousel__hero--picture"
            src="assets/images/cat-carousel-6.png"
            alt="cat-carousel-1"
          />
        </figure>

        <div class="carousel__hero--icon">
          <img src="assets/icons/home.svg" alt="home" />
        </div>
      </div>
    </div>
    <!-- PRICES SECTION -->
    <div class="prices">
      <div class="prices__header-hero">
        <p class="prices__subs subs">
          Transparent Rates for your purry companion
        </p>
        <h2 class="prices__title title">Pricing</h2>
        <p class="prices__description description">
          In our Pricing Section, transparency meets affordability. At NekoInn,
          we believe in straightforward pricing, ensuring you have peace of mind
          knowing exactly what to expect.
        </p>
      </div>
      <!-- PRICES BODY -->
      <div class="prices__body-hero">
        <!-- FIRST HERO -->
        <div class="element-hero">
          <div class="element-hero__header">
            <p class="element-hero__header--text">Purr Ducal</p>
            <figure>
              <img
                class="element-hero__header--icon"
                src="assets/icons/crown-2.svg"
                alt="crown-2 "
              />
            </figure>
          </div>
          <div class="element-hero__prices">
            <b class="element-hero__prices--money">$160.99 </b>
            <p class="element-hero__prices--time">PER DAY</p>
          </div>
          <ul class="element-hero__list">
            <li class="element-hero__list--item">
              <figure>
                <img
                  src="assets/icons/tick-outline.svg"
                  alt="tick-outline"
                />
              </figure>
              <p>Standard Room Accommodation</p>
            </li>
            <li class="element-hero__list--item">
              <figure>
                <img
                  src="assets/icons/tick-outline.svg"
                  alt="tick-outline"
                />
              </figure>
              <p>Basic Grooming</p>
            </li>
            <li class="element-hero__list--item">
              <figure>
                <img
                  src="assets/icons/tick-outline.svg"
                  alt="tick-outline"
                />
              </figure>
              <p>Group Playtime</p>
            </li>
            <li class="element-hero__list--item">
              <figure>
                <img
                  src="assets/icons/tick-outline.svg"
                  alt="tick-outline"
                />
              </figure>
              <p>Standard Meal Plan</p>
            </li>
            <li class="element-hero__list--item">
              <figure>
                <img
                  src="assets/icons/tick-outline.svg"
                  alt="tick-outline"
                />
              </figure>
              <p>Daily Wellness Check</p>
            </li>
          </ul>
          <div class="element-hero__action">
            <button class="element-hero__action--btn btn">BOOK NOW</button>
          </div>
        </div>
        <!-- SECOND HERO -->
        <div class="element-hero element-hero-prime">
          <div class="element-hero__header">
            <p
              class="element-hero__header--text element-hero__header--prime-text"
            >
              Purr imperial
            </p>
            <figure>
              <img
                class="element-hero__header--icon"
                src="assets/icons/royal-crown.svg"
                alt="crown-2 "
              />
            </figure>
          </div>
          <div class="element-hero__prices element-hero__prices-prime">
            <b class="element-hero__prices--money">$600.99 </b>
            <p class="element-hero__prices--time">PER DAY</p>
          </div>
          <ul class="element-hero__list element-hero__list-prime">
            <li class="element-hero__list--item">
              <figure>
                <img
                  src="assets/icons/tick-circle-white.svg"
                  alt="tick-outline"
                />
              </figure>
              <p>Presidential Suite Accommodation</p>
            </li>
            <li class="element-hero__list--item">
              <figure>
                <img
                  src="assets/icons/tick-circle-white.svg"
                  alt="tick-outline"
                />
              </figure>
              <p>Deluxe Spa Grooming Package</p>
            </li>
            <li class="element-hero__list--item">
              <figure>
                <img
                  src="assets/icons/tick-circle-white.svg"
                  alt="tick-outline"
                />
              </figure>
              <p>Exclusive One-on-One Playtime</p>
            </li>
            <li class="element-hero__list--item">
              <figure>
                <img
                  src="assets/icons/tick-circle-white.svg"
                  alt="tick-outline"
                />
              </figure>
              <p>Gourmet Meal Plan</p>
            </li>
            <li class="element-hero__list--item">
              <figure>
                <img
                  src="assets/icons/tick-circle-white.svg"
                  alt="tick-outline"
                />
              </figure>
              <p>24/7 Concierge Service</p>
            </li>
          </ul>
          <div class="element-hero__action">
            <button
              class="element-hero__action--btn element-hero__action--btn-prime btn"
            >
              BOOK NOW
            </button>
          </div>
        </div>
        <!-- THIRST HERO -->
        <div class="element-hero">
          <div class="element-hero__header">
            <p class="element-hero__header--text">Purr royal</p>
            <figure>
              <img
                class="element-hero__header--icon"
                src="assets/icons/crown-2.svg"
                alt="crown-2 "
              />
            </figure>
          </div>
          <div class="element-hero__prices">
            <b class="element-hero__prices--money">$299.99</b>
            <p class="element-hero__prices--time">PER DAY</p>
          </div>
          <ul class="element-hero__list">
            <li class="element-hero__list--item">
              <figure>
                <img
                  src="assets/icons/tick-outline.svg"
                  alt="tick-outline"
                />
              </figure>
              <p>Luxury Suite Accommodation</p>
            </li>
            <li class="element-hero__list--item">
              <figure>
                <img
                  src="assets/icons/tick-outline.svg"
                  alt="tick-outline"
                />
              </figure>
              <p>Deluxe Grooming Package</p>
            </li>
            <li class="element-hero__list--item">
              <figure>
                <img
                  src="assets/icons/tick-outline.svg"
                  alt="tick-outline"
                />
              </figure>
              <p>Private Playtime</p>
            </li>
            <li class="element-hero__list--item">
              <figure>
                <img
                  src="assets/icons/tick-outline.svg"
                  alt="tick-outline"
                />
              </figure>
              <p>Premium Meal Plan</p>
            </li>
            <li class="element-hero__list--item">
              <figure>
                <img
                  src="assets/icons/tick-outline.svg"
                  alt="tick-outline"
                />
              </figure>
              <p>VIP Wellness Check</p>
            </li>
          </ul>
          <div class="element-hero__action">
            <button class="element-hero__action--btn btn">BOOK NOW</button>
          </div>
        </div>
      </div>
    </div>
    <!-- FEEDBACK SECTION -->
    <div class="feedback">
      <div class="feedback__header">
        <p class="feedback__subs subs">
          Pawsitive Reviews from Happy Customers
        </p>
        <h2 class="feedback__title title">They Celebrate NekoInn</h2>
        <div class="feedback__description-hero">
          <p class="feedback__description description">
            Discover what our clients have to say about their experiences at
            NekoInn. Their testimonials speak volumes about the exceptional care
            and service we provide for their beloved feline companions.
          </p>
        </div>
      </div>
      <div class="feedback__body">
        <div class="feedback__arrow arrow-container">
          <figure>
            <img src="assets/icons/left-arrow.svg" alt="left-arrow" />
          </figure>
        </div>

        <div class="feedback__arrow arrow-container">
          <figure>
            <img src="assets/icons/right-arrow.svg" alt="right-arrow" />
          </figure>
        </div>

        <div class="feedback__hero">
          <figure>
            <img
              class="feedback__hero--icon"
              src="assets/icons/quote.svg"
              alt="left-arrow"
            />
          </figure>
          <p class="feedback__hero--text">
            Leaving my cat at NekoInn was the best decision I ever made. The
            staff went above and beyond to ensure that my furry friend felt
            loved and cared for. I received regular updates and photos, which
            put my mind at ease during my time away. Thank you, NekoInn, for
            providing such a wonderful home away from home for my cat!
          </p>
          <div class="feedback__hero--person">
            <figure>
              <img
                class="feedback__hero--avt"
                src="assets/images/avt-1.png"
                alt="avt-1"
              />
            </figure>
            <p class="feedback__hero--name">Emily S</p>
          </div>
        </div>
        <div class="feedback__hero">
          <figure>
            <img
              class="feedback__hero--icon"
              src="assets/icons/quote.svg"
              alt="left-arrow"
            />
          </figure>
          <p class="feedback__hero--text">
            I cannot recommend NekoInn enough! From the moment I walked in, I
            knew my cat would be in good hands. The facilities are clean and
            spacious, and the staff is incredibly friendly and attentive. My cat
            came back home relaxed and happy, and I will definitely be using
            NekoInn for all my future boarding needs.
          </p>
          <div class="feedback__hero--person">
            <figure>
              <img
                class="feedback__hero--avt"
                src=".../../assets/images/avt-2.png"
                alt="avt-1"
              />
            </figure>
            <p class="feedback__hero--name">Mark T</p>
          </div>
        </div>
        <div class="feedback__hero">
          <figure>
            <img
              class="feedback__hero--icon"
              src="assets/icons/quote.svg"
              alt="left-arrow"
            />
          </figure>
          <p class="feedback__hero--text">
            NekoInn made the experience so much easier. Their personalized care
            and attention to detail set them apart from other boarding
            facilities. I loved receiving updates and photos of my cat enjoying
            her stay. I have complete peace of mind knowing she's in the care of
            such dedicated professionals. Thank you, NekoInn!
          </p>
          <div class="feedback__hero--person">
            <figure>
              <img
                class="feedback__hero--avt"
                src=".../../assets/images/avt-3.png"
                alt="avt-1"
              />
            </figure>
            <p class="feedback__hero--name">Emily S</p>
          </div>
        </div>
      </div>
    </div>
    <!-- BOOKING SECTION -->
    <div class="booking">
      <div class="booking-header">
        <p class="booking-header__subs subs">Secure Your Cat's Stay Today</p>
        <h2 class="booking-header__title title">Book Now</h2>
        <div class="booking-header__description-hero">
          <p class="booking-header__description description">
            Ready to reserve your cat's spot at NekoInn? Our easy-to-use booking
            system makes it simple to schedule your cat's stay with us. Just
            select your desired dates, choose from our range of accommodations
            and services, and complete your reservation in a few easy steps.
          </p>
        </div>
      </div>
      <div class="booking-body">
        <div class="booking-body__row">
          <div class="booking-body__form-hero">
            <p class="booking-body__form-hero--legend subs">FULL NAME</p>
            <input
              class="booking-body__form-hero--input"
              type="text"
              placeholder="Eg. Jane Doe"
            />
          </div>
          <div class="booking-body__form-hero">
            <p class="booking-body__form-hero--legend subs">EMAIL</p>
            <input
              class="booking-body__form-hero--input"
              type="text"
              placeholder="Eg. janedoe@gmail.com"
            />
          </div>
        </div>
        <div class="booking-body__row">
          <div class="booking-body__form-hero">
            <p class="booking-body__form-hero--legend subs">PHONE NUMBER</p>
            <input
              class="booking-body__form-hero--input"
              type="text"
              placeholder="100-616-6060"
            />
          </div>
          <div class="booking-body__form-hero">
            <p class="booking-body__form-hero--legend subs">CAT NAME</p>
            <input
              class="booking-body__form-hero--input"
              type="text"
              placeholder="Eg. Timothy"
            />
          </div>
        </div>
        <div class="booking-body__row">
          <div class="booking-body__form-hero">
            <p class="booking-body__form-hero--legend subs">PICK A DATE</p>
            <input
              class="booking-body__form-hero--input"
              type="text"
              placeholder="July 16th, 2024 - 9:26 PM"
            />
          </div>
          <div class="booking-body__form-hero--calender-hero">
            <figure>
              <img
                src="assets/icons/calendar-edit.svg"
                alt="calendar-edit"
                class="booking-body__form-hero--calender"
              />
            </figure>
          </div>
        </div>
        <div class="booking-body__row">
          <div class="booking-body__form-hero">
            <p class="booking-body__form-hero--legend subs">How many pets?</p>
            <input
              class="booking-body__form-hero--input"
              type="text"
              placeholder="6"
            />
          </div>
        </div>
        <div class="booking-body__row">
          <div class="booking-body__form-hero">
            <p class="booking-body__form-hero--legend subs">purr plan</p>
            <input
              class="booking-body__form-hero--input"
              type="text"
              placeholder="Purr Royal"
            />
          </div>
        </div>
        <div class="booking-body__action">
          <button class="booking-body__booking-btn btn">BOOK NOW</button>
        </div>
      </div>
    </div>
  </div>
</body>
