@use "../../abstracts/" as *;

.about {
  background-color: white;
  border-radius: 40px;
  @include flex();
  margin-top: 134px;
  @include mobile {
    margin-top: 36px;
    flex-direction: column;
    padding: 50px 0px;
  }
  &__left-hero {
    @include flex($direction: column, $justify: center);
    padding: 60px;
    width: 100%;
    @include tablet {
      padding: 30px;
    }
    @include mobile {
      padding: 0px 28px;
      margin-bottom: 56px;
    }
    &--subs {
      margin-bottom: 15px;
    }
    &--title {
      margin-bottom: 30px;
    }
    &--description {
      margin-bottom: 50px;
      @include mobile {
        margin-bottom: 35px;
      }
    }
    &--btn {
      width: 165px;
      @include mobile {
        width: auto;
      }
    }
  }
  &__right-hero {
    width: 100%;
    display: flex;
    &--cat {
      margin: auto;
      height: 100%;
      max-width: 634px;
      width: 100%;
      @include mobile {
        max-width: 376px;
      }
    }
  }
}
