@use "../../abstracts/" as *;
.service {
  height: fit-content;
  background-color: white;
  border-width: 0px, 0px, 0px, 0px;
  border-style: solid;
  border-color: grey;
  border-radius: 40px;

  @include flex();
  @include tablet {
    flex-direction: column;
  }
  hr {
    margin: 60px 0px;
    @include mobile {
      margin: 0px;
    }
  }
  &__hero {
    flex: 1;
    padding: clamp($min-padding, 2vw, 50px) clamp($min-padding, 2vw, 40px);
    @include mobile {
      height: 220px;
      padding: 40px;
    }
    &--img {
      width: 100%;
      object-fit: cover;
      margin-bottom: 25px;
      border-radius: 20px;
    }
    &--title {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 10px;
    }
    &--description {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      @include landscape {
        font-size: 13px;
      }
    }
  }
  &__hero-first {
    height: 476px;
    flex: 1;
    padding: clamp($min-padding, 2vw, 60px) 0px;
    background-color: $primary-color;
    border-radius: 40px;
    @include flex($direction: column, $justify: center);
    @include landscape {
      padding: 12px;
    }
    @include tablet {
      padding: 25px;
    }
    &--subs {
      color: $subtitle-color !important;
      margin-bottom: 20px;
      margin-left: 10px;
      text-align: center;
      @include landscape {
        font-size: 11px;
        margin-bottom: 12px;
      } 
    }
    &--title {
      color: white;
      margin-bottom: 16px;
      text-align: center;
      @include landscape {
        font-size: 30px;
        margin-bottom: 8px;
      }
    }
    &--description {
      color: white;
      margin-bottom: 33px;
      @include landscape {
        font-size: 13px;
        margin-bottom: 20px;

      }
    }
    &--btn {
      position: relative;
      background-color: $secondary-color;
      width: 100%;
      p {
        text-align: center;
      }
      img {
        position: absolute;
        left: 17px;
        top: 50%;
        bottom: 50%;
        margin: auto 0px;
      }
    }
  }
}
